decorator==4.0.10
entrypoints==0.2.2
geoip2==2.4.0
ipykernel==4.4.1
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==5.0.0
jupyter-core==4.1.1
line-profiler==1.0
MarkupSafe==0.23
maxminddb==1.2.1
mistune==0.7.3
moto==0.4.27
nose==1.3.7
nbconvert==4.2.0
nbformat==4.1.0
notebook==4.2.2
petl==1.1.0
pexpect==4.2.0
pickleshare==0.7.4
prompt-toolkit==1.0.6
ptyprocess==0.5.1
py-radix==0.9.6
Pygments==2.1.3
pylru==1.0.9
python-geoip==1.2
python-geoip-python3==1.3
pyzmq==15.4.0
qtconsole==4.2.1
requests==2.11.1
simplegeneric==0.8.1
six==1.10.0
terminado==0.6
tornado==4.4.1
tox==2.3.1
traitlets==4.2.2
wcwidth==0.1.7
widgetsnbextension==1.2.6
